html {
  color: #555;
  font: 14px/20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #2C343B url(../images/bg2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.name-box {
	margin:200px auto;
	width:320px;
	padding:100px 60px;
	background:rgba(255,255,255, 0.5);
}

h2, .title {
	margin:0;
	color:rgba(0,0,0,0.7);
}

.social {
  margin:10px 0;
}

.social-label {
  font-size:16px;
  width: 30px;
  height: 30px;
  color:#fff;
  background: #999;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 6px 2px 0 3px;
  text-align: center;
  display: inline-block;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
}

a.social-tw {
  background: rgba(64,153,255, 0.5);
}

a:hover.social-tw {
  background: rgba(64,153,255, 1);
  color:#fff;
}

a.social-ln {
  background: rgba(0, 123, 182, 0.5);
}

a:hover.social-ln {
  background: rgba(0, 123, 182, 1);
  color:#fff;
}