/* Grid
-------------------------------------------------------------- */

.column {
  float: left;
  margin-left: 2.5%;
}

.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.two-thirds {
  width: 65.8%;
}

.column.half {
  width: 48.75%;
}

.column.one-third {
  width: 31.65%;
}

.column.one-fourth {
  width: 23.1%;
}

/* MEDIA QUERIES 
------------------------------------------------------------- */

@media screen and (max-width: 640px) {
	.column.full,
	.column.two-thirds,
	.column.half,
	.column.one-third,
	.column.one-fourth,
	.column.one-fifth {
		margin:0;
		width:100%;
	}
}

@media screen and (max-width: 402px) {
  .column.full,
  .column.two-thirds,
  .column.half,
  .column.one-third,
  .column.one-fourth,
  .column.one-fifth {
    margin:0;
    width:100%;
  }
  .work-image {
    width: 100%;
    padding:0;
  }
}


/*  #Clearfix
-------------------------------------------------------------- */

.row:before,
.row:after {
  content: " ";
  display: table;
}
 
.row:after {
  clear: both;
}
 
.row {
  *zoom: 1;
}
