nav {
	float:left;
}

nav ul {
  list-style: none;
  margin-left:60px;
}

nav ul li {
  display:inline;
}

nav a {
	display: inline-block;
	padding:10px 20px;
	text-decoration: none;
	color:rgba(95,106,125, .8);
	text-transform: uppercase;
	font-weight:$font-weight-light;
	font-size: $font-size-small;
	transition-property: color;
  transition-duration: .5s;
  transition-timing-function: linear;
}

nav a:hover {
	color:rgba(44,50,59, 1);
}

nav a.active {
	font-weight:$font-weight-regular;
	border-bottom:2px solid rgba(46,59,78, 1);
}

@media handheld, only screen and (max-width: 767px) {

	header {
		height: 50px;
	}

	.header-inner  {
		height: 50px;
	}

	.name-mark {
		display:none;
	}

	nav ul {
  width: 320px;
}

  nav a {  
		padding:5px 10px; 
   } 

}