
/* Typography */

$font-family-sans: 'Roboto', 'Helvetica Neue', sans-serif;
$font-family-serif: 'Droid Serif', 'Georgia', serif;

/*$font-size-xx-large: 1.91em;
$font-size-x-large: 1.618em;
$font-size-large: 1.18em;
$font-size-regular: 1em;
$font-size-small: 0.73em;
$font-size-x-small: 0.618em;
$font-size-xx-small: 0.451em;*/

$font-size-xx-large: 30.559px;
$font-size-x-large: 25.888px;
$font-size-large: 18.887px;
$font-size-regular: 16px;
$font-size-small: 11.673px;
$font-size-x-small: 9.889px;
$font-size-xx-small: 7.214px;

$font-weight-light:	300;
$font-weight-regular:	400;
$font-weight-bold:	600;

/* Layout */

$width-small: 300;
$width-medium: 700;
$width-large: 1200;