<div class="col-1-1">
		<h1 class="page-title">eCME<span>Web Application</span></h1>
		<div class="role"><span>Role:</span> Interaction Design | Information Architecture | Research | Front-End Development</div>
      <p class="featured-text">The Electronic Continuing Medical Education (eCME) application was designed to allow electronic submission of activity proposals, credit assignment and transcript viewing for the Office of Continuing Medical Education at the University of Illinois. The primary users were the Office of Continuing Medical Education, Activity Directors, and Physicians. 
</p>
      <img class="work-image" src="images/cme-flow.png" alt="CME Task FLow" />
      <p class="work-text">Learning the process of how Continuing Medical Education credits was my first step to better understand the goals of this project.  I then met with the primary stakeholders to determine the business needs and to better understand the problem we were trying to solve. I developed wireframes for all screens and notated the interactions that I then shared for review and feedback with the business stakeholders and the software engineers.</p>
      <img class="work-image" src="images/cme-admin.png" alt="CME Administration" />
      <p class="work-text">Working closely with the two software engineers on the team, I designed and developed the front-end using html, css, and jQuery. This process involved daily collaboration within the team.</p>

</div>
<div class="col-1-1">
		<ul class="work-list paging">
			<li>
        <a href="#/hermes">
          <div class="work-item hermes"> 
            <img src="images/hermes-th.png" alt="Hermes Thumbnail">
            <div class="work-details">
              <h2>Hermes <span>Web Application</span></h2>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#/splash">
        <div class="work-item">
          <img src="images/splash1.png" alt="SplashShop Thumbnail">
          <div class="work-details">
            <h2>SplashShop<span>E-Commerce</span></h2>
          </div>
        </div>
        </a>
      </li>
      <li>
		</ul>
		<h2 class="bc">Contact</h2>
		<ul class="contact-info">
			<li>Nick Shank</li>
			<li><a href="mailto:nicholas.shank@gmail.com">nicholas.shank@gmail.com</a></li>
			<li>537 Aberdeen Rd. Frankfort, IL. 60423</li>
			<li><a href="tel:1815-207-3705">815-207-3705</a></li>
		</ul>
    <div class="social-footer">
      <a href="http://twitter.com/nickshank" class="social-label social-tw"><i class="fa fa-twitter"></i></a>
      <a href="http://www.linkedin.com/in/nicholasshank/" class="social-label social-ln"><i class="fa fa-linkedin"></i></a>
    </div>
</div>