<div class="col-1-1">
		<h1 class="page-title about">About</h1>
		<p class="long-text">Hi, I'm <strong>Nick</strong>. I am a product designer currently working in Chicago with a focus on user experience design and product strategy.</p>
		<h2 class="bc">Design Philosophy</h2>
		<p class="long-text">I see the role of a product designer as an exercise in problem solving. Start by thinking about how the user will interact with the product and how each interaction will help the user perform the task at hand. I do this by utilizing my skills in interaction design, research, information architecture, content strategy, prototyping, and front-end development. I think Braden Kowitz of Google Ventures said it well when he stated "Customers judge online credibility by evaluating visual design, copywriting, and interactions."</p>
		<h2 class="bc">How I got here</h2>
		<p class="long-text">Throughout my career I have always strived to continue to gain new knowledge or insights that will help me improve myself as well as my work. I have gone the traditional education route earning a Bachelors degree with a focus on English Literature and Journalism and a Masters degree in Human Computer Interaction. I have also done some development learning through <a href="http://www.starterleague.com" target="_blank"> The Starter League</a> (formally Code Academy). It is a three month web development program that teaches the foundation of Ruby on Rails. These educational experiences have helped me in different ways to become better at what I do, but I have also learned so much from the people I have worked with and I hope they have learned from me as well.</p>
		<h2 class="bc">Contact</h2>
		<ul class="contact-info">
			<li>Nick Shank</li>
			<li><a href="mailto:nicholas.shank@gmail.com">nicholas.shank@gmail.com</a></li>
			<li>537 Aberdeen Rd. Frankfort, IL. 60423</li>
			<li><a href="tel:1815-207-3705">815-207-3705</a></li>
		</ul>
		<div class="social-footer">
      <a href="http://twitter.com/nickshank" class="social-label social-tw"><i class="fa fa-twitter"></i></a>
    	<a href="http://www.linkedin.com/in/nicholasshank/" class="social-label social-ln"><i class="fa fa-linkedin"></i></a>
    </div>
</div>