<div class="row">
  <div class="column full">
		<h1 class="page-title">Hermes<span>Web Application</span></h1>
		<div class="role"><span>Role:</span> Interaction Design | Information Architecture | Research | Front-End Development</div>
      <p class="featured-text">Hermes is a content management system built to support content management, content publishing, site templating and site generation for small local newspaper websites. The goal was to create a system that would allow content to be shared across multiple sites and the ability to quickly bring up new sites.</p>
      <img class="work-image" src="images/hermes1.png" alt="Hermes Task Flow" />
      <p class="work-text">My process began by learning the inter workings of the newsroom and specifically the digital content producers publishing workflow. An audit was needed to learn the type of content and the elements used to build the content pieces (Images, Video, Byline, Body, Summary, etc.). Also, I needed to learn the language/terminology of the newsroom to match that language to the appropriate actions in the Hermes application.   I did this through interviews and observations. I then mapped the publishing workflow and how it related to the new system.</p>
      <img class="work-image" src="images/hermes-search-v1.png" alt="Search Version 1" />
      <p class="work-text">I then wireframed some of the core screens to then show the content producers and the software engineers to discuss the interactions and workflow of the primary tasks (creating and publishing content). There were many iterations of wireframes as I learned more about the process and the pain points of the producers.</p>
      <img class="work-image" src="images/hermes-slotting.png" alt="Slotting Wireframe" />
      <p class="work-text">There were many challenges to overcome in such a complex workflow. The team is continuously iterating to improve as well as add functionality.</p>
	</div>
</div>
<div class="row">
	<div class="column full">
		<ul class="work-list paging">
			<li>
        <a href="#/splash">
        <div class="work-item">
          <img src="images/splash1.png" alt="SplashShop Thumbnail">
          <div class="work-details">
            <h2>SplashShop<span>E-Commerce</span></h2>
          </div>
        </div>
        </a>
      </li>
      <li>
      <a href="#/cme">
        <div class="work-item">  
          <img src="images/cme-th.png" alt="placeholder image">
          <div class="work-details">
            <h2>CME<span>Web Application</span></h2>
          </div>
        </div>
        </a>
      </li>
		</ul>
		<h2 class="bc">Contact</h2>
		<ul class="contact-info">
			<li>Nick Shank</li>
			<li><a href="mailto:nicholas.shank@gmail.com">nicholas.shank@gmail.com</a></li>
			<li>537 Aberdeen Rd. Frankfort, IL. 60423</li>
			<li><a href="tel:1815-207-3705">815-207-3705</a></li>
		</ul>
	</div>
</div>