<div class="row">
  <div class="column full">
		<h1 class="page-title">About</h1>
		<p class="featured-text">Marfa before they sold out Vice food truck, sartorial VHS fingerstache bespoke cornhole flexitarian ugh stumptown typewriter. Bespoke cliche pug twee. Synth Brooklyn bespoke Austin pour-over fanny pack salvia, selfies Intelligentsia blog Thundercats 3 wolf moon literally YOLO Schlitz. YOLO bicycle rights narwhal meggings dreamcatcher, squid Vice VHS seitan four loko gentrify Wes Anderson. PBR&B blog iPhone, seitan stumptown pour-over dreamcatcher vinyl selfies. Kitsch fashion axe hella banjo Portland McSweeney's Echo Park. Mlkshk cray PBR, aesthetic art party tattooed you probably haven't heard of them beard.</p>
	</div>
</div>